@model twa7edWebsite.Models.Category

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_DetailsForItemOrCategories", Model)

<div>
    <p>All Items belong to this Category</p>
</div>

@Html.Partial("_DisplayItems", Model.Items)