@model twa7edWebsite.Models.Category

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_DetailsForItemOrCategories", Model)

<p>All Items belong to this Category</p>
@Html.Partial("_DisplayItems", Model.Items)