label {
    font-size: large;
    font-family: 'AraJozoor-Regular',Sans-Serif;
    direction: ltr;
}

.Arbic-Fonts {
    font-family: 'AraJozoor-Regular',Sans-Serif;
    direction: ltr;
}

    .Arbic-Fonts span {
        font-family: 'AraJozoor-Regular',Sans-Serif;
        direction: ltr;
    }
    .Arbic-Fonts input
    {
        font-family: 'AraJozoor-Regular',Sans-Serif;
        direction: ltr;
    }