@{
    System.Reflection.BindingFlags flags = System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Instance;
    Type type = Model.GetType();
    System.Reflection.PropertyInfo[] properties = type.GetProperties();
    //Model = (type.Name == "Item" ? (twa7edWebsite.Models.Item) Model : (twa7edWebsite.Models.Category) Model);
    var imageSoruce = ((ViewBag.isItem == 1) ? Url.Content("~/Images/Items_Images") : Url.Content("~/Images/Categories_Images")) + "/" + Model.imageName;
}

<div class="clear"> </div>
<div class="wrap">

    <div class="section group">
        <div class="col span_1_of_3">
            <div class="contact_info">
                <h2>@(type.Name == "Items" ? "المنتج" : " الصنف")</h2>
                <div class="map">
                    <img width="100%" height="175" src=@imageSoruce><br><small><a href=@imageSoruce style="color:#666;text-align:left;font-size:12px">View Larger Image</a></small>
                </div>
            </div>
        </div>
        <br />
        <div class="contact-form">
            <div class="col span_2_of_3">
                <h2>@(type.Name == "Items" ? "تفاصيل المنتج" : " تفاصيل الصنف")</h2>
                <div>
                    @foreach (System.Reflection.PropertyInfo property in properties)
                    {
                        if (property.Name != "ID" && property.Name != "imageName" && property.Name != "Items"
                            && property.Name != "categoryID" && property.Name != "Category")
                        {
                            <span>
                                @property.Name
                            </span>
                            <span>
                                @property.GetValue(Model, null)
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>
<div class="clear"> </div>