@model IEnumerable<twa7edWebsite.Models.Item>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="grid_1_of_4 images_1_of_4 products-info" style="margin-left: 35px;">
            <a href=@Url.Action("Details", "Items", new { id = item.ID })>
                <img src=@Url.Content("~/Images/Items_Images/" + @item.imageName) />
            </a>
            <h4 class="item_name">@item.name</h4>
            <div class="priceh3">
                <h3> @item.price </h3>
            </div>
        </div>
    }
</div>